html {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-color: lightgray;
  margin: 0;
}

.flex-container {
  display: flex;
  height: 100%;
}

.recipes-page {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.recipes-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: lightblue;
  flex: 1 1 auto;
}

.recipes-list-menu-title {
  font-weight: bold;
  text-align: center;
}

.recipe-selection-menu {
  width: 100%;
  height: 95vh;
  overflow-y: scroll;
}

.recipes-list-item {
  display: flex;
}

.default-recipe-content {
  display: flex;
  justify-content: center;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-basis: 75%;
}

.nutrition-key {
  text-align: left;
  border-bottom: 1px solid black;
}

.nutrition-value {
  text-align: center;
  border-bottom: 1px solid black;
}